.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button-wrapper {
  width: auto;
}
.btn {
  text-decoration: none;
  width: 126px;
  height: 128px;
  background: #050f40;
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  margin: 5px;
  outline: none;
}

.button-wrapper .btn::before {
  content: " ";
  height: 40px;
  border: 5px solid white;
  width: 40px;
  border-radius: 50%;
  display: block;
  position: relative;
  left: calc(50% - 20px);
}

.clkBtn {
  text-decoration: none;
  width: 126px;
  height: 128px;
  background: #050f40;
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 8px;
  margin: 5px;
  outline: none;
}

.button-wrapper .clkBtn::before {
  content: " ";
  height: 40px;
  border: 5px solid white;
  width: 40px;
  border-radius: 50%;
  display: block;
  position: relative;
  left: calc(50% - 20px);
}

.button-wrapper .all-on::before {
  background-color: white;
}
.button-wrapper .onSeventy::before {
  background: linear-gradient(to bottom, #000 30%, white 0px, white);
}
.button-wrapper .onThirty::before {
  background: linear-gradient(to bottom, #000 70%, white 0px, white);
}
.button-wrapper .all-off::before {
  background: #050f3b;
}

p {
  font-size: 16px;
  margin-top: 20px;
}

@media only screen and (min-width: 992px) {
  .btn {
    height: 260px;
    width: 260px;
  }
  .clkBtn {
    width: 260px;
    height: 260px;
  }
  .button-wrapper .btn::before {
    height: 80px;
    width: 80px;
    left: calc(50% - 40px);
  }
  .button-wrapper .clkBtn::before {
    height: 80px;
    width: 80px;
    left: calc(50% - 40px);
  }
  p {
    font-size: 32px;
    margin-top: 30px;
  }
}
