.header-div {
  text-align: center;
}

.heading-title {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica Neue";
  margin: 80px auto;
}

@media only screen and (min-width: 992px) {
  .heading-title {
    font-size: 32px;
  }
}
